.container-left {
    width: 25vw;
    height: 95vh;
}

.container-rigth {
    width: 75vw;
    height: 95vh;
}

.preset-container {
    display: flex;
    margin: 0 10px 0 10px;
}

.preset-item {
    margin: 0 10px 0 10px;
}
