<h2>Configuracion inicial</h2>
<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Elegir Fondo
        </mat-panel-title>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-expansion-panel-header>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <mat-card cdkDrag *ngFor="let i of images">
            <p>{{i}}</p>
            <img style="width: 10vw;" src="../../assets/{{i}}" alt="">
            <button mat-raised-button color="primary" style="float:right" matSuffix mat-icon-button aria-label="Clear" (click)="selectBackground(i)">
              <mat-icon>add_photo_alternate</mat-icon>
            </button>
        </mat-card>
        <mat-card *ngIf="images.length === 0">
            Todavia no hay imagenes.
        </mat-card>
    </div>
</mat-expansion-panel>
