<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Guardar/Cargar
        </mat-panel-title>
        <mat-panel-description>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <button (click)="saveData()">Guardar</button>
    <div class="form-group">
        <label for="file">Cargar (TBD)</label>
        <!-- <input type="file" id="file" (change)="handleFileInput($event!.target.files)"> -->
        <input type="file" id="file">
    </div>

</mat-expansion-panel>
<h2>Agregar Informacion</h2>
<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Agregar Curva
        </mat-panel-title>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-expansion-panel-header>
    <div class="matContent">
        <mat-form-field class="form-field" appearance="fill">Número<input matInput type="text" [(ngModel)]="curvaNueva.number"></mat-form-field>
        <mat-form-field class="form-field" appearance="fill">Descripción<input matInput type="text" [(ngModel)]="curvaNueva.description"></mat-form-field>
        <mat-form-field class="form-field" appearance="fill">Marcha <input matInput type="text" [(ngModel)]="curvaNueva.gear"></mat-form-field>
        <button mat-raised-button color="primary" style="float:right" matSuffix mat-icon-button aria-label="Clear" (click)="addTurn()" [disabled]="curvaNueva.number === ''">
          <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Agregar Comentario
        </mat-panel-title>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-expansion-panel-header>
    <mat-form-field class="form-field" appearance="fill">Comentario <input matInput type="text" [(ngModel)]="note.description"></mat-form-field>
    <button mat-raised-button color="primary" style="float:right" matSuffix mat-icon-button aria-label="Clear" (click)="addNote()" [disabled]="note.description === ''">
      <mat-icon>add</mat-icon>
    </button>
</mat-expansion-panel>


<h2>Curvas/Comentarios:</h2>
<div cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-card cdkDrag class="dataList" *ngFor="let d of mapData">

        <div *ngIf="editModal">
            <p *ngIf="d.data.number">Numero de curva: <input type="text" [(ngModel)]="d.data.number"></p>
            <p *ngIf="d.data.description">Descripcion: <input type="text" [(ngModel)]="d.data.description"></p>
            <p *ngIf="d.data.gear">Cambio: <input type="text" [(ngModel)]="d.data.gear"> </p>
            x: {{d.x}} y: {{d.y}}
        </div>
        <div *ngIf="!editModal">
            <p *ngIf="d.data.number">Curva:{{d.data.number}}</p>
            <p *ngIf="d.data.description">{{d.data.description}} </p>
            <p *ngIf="d.data.gear">Cambio:{{d.data.gear}}</p>
            <p *ngIf="d.x">X:{{d.x}}</p>
            <p *ngIf="d.y">Y:{{d.y}}</p>
        </div>
        <button mat-button color="primary" *ngIf="editModal" class="editButton" (click)=acceptEdit()>✔️</button>
        <button mat-button color="primary" *ngIf="!editModal" class="editButton" (click)="edit(d.data)">✏️</button>
        <button mat-button color="primary" class="deleteButton" (click)="delete(d)">❌</button>
    </mat-card>
    <mat-card *ngIf="mapData.length === 0">
        Todavia no hay datos.
    </mat-card>
</div>
