<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Guardar/Cargar
        </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-raised-button color="primary" style="float:right" matSuffix mat-icon-button aria-label="Clear" (click)="saveData()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-raised-button color="primary" style="float:right" matSuffix mat-icon-button aria-label="Clear" [disabled]=true (click)="saveData()">
      <mat-icon>add</mat-icon>
    </button>
</mat-expansion-panel>
<h2>Agregar Informacion</h2>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Agregar Curva
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="matContent">
        <mat-form-field class="form-field" appearance="fill">Número<input matInput type="text" [(ngModel)]="curvaNueva.number"></mat-form-field>
        <mat-form-field class="form-field" appearance="fill">Descripción<input matInput type="text" [(ngModel)]="curvaNueva.description"></mat-form-field>
        <mat-form-field class="form-field" appearance="fill">Marcha <input matInput type="text" [(ngModel)]="curvaNueva.gear"></mat-form-field>
        <button mat-raised-button color="primary" style="float:right" matSuffix mat-icon-button aria-label="Clear" (click)="addTurn()" [disabled]="curvaNueva.number === ''">
          <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Agregar Comentario
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field class="form-field" appearance="fill">Comentario <input matInput type="text" [(ngModel)]="note.description"></mat-form-field>
    <button mat-raised-button color="primary" style="float:right" matSuffix mat-icon-button aria-label="Clear" (click)="addNote()" [disabled]="note.description === ''">
      <mat-icon>add</mat-icon>
    </button>
</mat-expansion-panel>


<h2>Curvas/Comentarios:</h2>

<div cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-card cdkDrag class="dataList" *ngFor="let d of mapData">

        <div *ngIf="editModal">
            <mat-form-field *ngIf="d.data.number" class="form-field" appearance="fill">Número<input matInput type="text" [(ngModel)]="d.data.number"></mat-form-field>
            <mat-form-field *ngIf="d.data.description" class="form-field" appearance="fill">Descripción<input matInput type="text" [(ngModel)]="d.data.description"></mat-form-field>
            <mat-form-field *ngIf="d.data.gear" class="form-field" appearance="fill">Marcha<input matInput type="text" [(ngModel)]="d.data.gear"></mat-form-field>
            x: {{d.x}} y: {{d.y}}
            <button mat-raised-button color="primary" *ngIf="editModal" style="float:right" matSuffix mat-icon-button aria-label="Clear" [disabled]=true>
              <mat-icon>zoom_in</mat-icon>
            </button>
            <button mat-raised-button color="primary" *ngIf="editModal" style="float:right" matSuffix mat-icon-button aria-label="Clear" [disabled]=true>
              <mat-icon>zoom_out</mat-icon>
            </button>
        </div>
        <div *ngIf="!editModal">
            <p *ngIf="d.data.number">Curva:{{d.data.number}}</p>
            <p *ngIf="d.data.description">{{d.data.description}} </p>
            <p *ngIf="d.data.gear">Cambio:{{d.data.gear}}</p>
            <!-- <p *ngIf="d.x">X:{{d.x}}</p>
            <p *ngIf="d.y">Y:{{d.y}}</p> -->
        </div>


        <button mat-raised-button color="primary" *ngIf="editModal" class="editButton" style="float:right" matSuffix mat-icon-button aria-label="Clear" (click)=acceptEdit()>
          <mat-icon>check</mat-icon>
        </button>
        <button mat-raised-button color="primary" *ngIf="!editModal" class="editButton" style="float:right" matSuffix mat-icon-button aria-label="Clear" (click)="edit(d.data)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-raised-button color="primary" class="deleteButton" style="float:right" matSuffix mat-icon-button aria-label="Clear" (click)="delete(d)">
          <mat-icon>delete</mat-icon>
        </button>
    </mat-card>
    <mat-card *ngIf="mapData.length === 0">
        Todavia no hay datos.
    </mat-card>
</div>
