.images {
    height: 70vh;
    background-size: cover;
    width: auto;
    background-position: 50% 50%;
}

.background {
    position: absolute;
    height: 100vh;
}

.startCoords {
    position: absolute;
    top: 0%;
    left: 0%;
}

.dataCard {
    width: fit-content;
    background-color: lightgoldenrodyellow;
    line-height: 3px;
    padding: 8px;
}

.configMatCard {
    position: absolute;
    top: 0;
    right: 0;
}

.font {
    font-family: cursive;
    color: black;
}

.container {
    position: relative;
}

.isDraggable {
    position: absolute;
    top: 10px;
    right: 10px;
    background: lightgray;
    padding: 5px;
}
