<div class="background">
    <div cdkDrag *ngFor="let d of mapData" (cdkDragEnded)="onDragEnded($event,d)">
        <mat-card class="dataCard font" [ngStyle]="{ left:movementX(d.x),top:movementY(d.y)}">
            <p *ngIf="d.data.number">Curva:{{d.data.number}}</p>
            <p *ngIf="d.data.description">{{d.data.description}}</p>
            <p *ngIf="d.data.gear">Cambio:{{d.data.gear}}</p>
            <p *ngIf="d.x && debug">X:{{d.x}}</p>
            <p *ngIf="d.y && debug">Y:{{d.y}}</p>
        </mat-card>
    </div>
</div>

<img class="images" src="../../assets/{{image}}" alt="circuito" />

<mat-card class="dataCard configMatCard">
    <mat-card-header>
        <mat-card-title style="color: black;">Configuraciones</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-checkbox [(ngModel)]="debug" color="primary" style="color: black;">Debug Position</mat-checkbox>
    </mat-card-content>

</mat-card>
